<!-- <% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= student.name %></h5>
              <p class="card-text"><%= student.regNo %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= student.email %></li>
              <li class="list-group-item">$<%= student.contactNo %></li>
            </ul>
            <div class="card-body">
              <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-info">Edit</a> 
              <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" class="d-inline">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
          </div>  
    </div>
    <div class="col-6">
        <h2>Leave a Review!</h2>
        <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
          <div class="mb-3">
              <label class="form-label" for="rating">Rating</label>
              <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating" required>
          </div>
          <div class="mb-3">
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">
                  Looks good!
              </div>
          </div>
          <button class="btn btn-success">Submit Review</button>
        </form>
        <% for (let review of campground.reviews) { %>
        <div class="mb-3 card">
          <div class="card-body">
              <h5 class="card-title">Rating: <%= review.rating %></h5>
              <p class="card-text">Review: <%= review.body %></p>
              <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                <button class="btn-sm btn btn-danger">Delete</button>
              </form>
          </div>
        </div>
        <% } %>
    </div>
</div>
<!-- <h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="<%= campground.image%>" alt="">
<p><%= campground.description %></p>
<p>
    <a href="/campgrounds/<%=campground._id%>/edit" class="card-link">Edit</a> 
</p>
<p>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" class="card-link">
        <button>Delete</button>
    </form>
</p> -->
<footer>
    <div class="mb-3">
        <a href="/campgrounds"><button class="btn btn-primary">Back to All Campgrounds</button></a>
    </div>
    
</footer>
 -->






<% layout('layouts/boilerplate')%>
<script type="text/javascript" src="JsBarcode.all.min.js"></script>
<div class="row">
  <div class="col-6">
<div class="card mb-3 "">
    <div class="card-body">
      <h2 class="card-title"><%=student.name%></h2>
      <h5 class="card-text"><%=student.email%></h5> 
      <h5 class="card-text"><%=student.contactNo%></h5> 
      <h5 class="card-text"><%=student.depositAmount%></h5> 
      <p class="card-text"><%=student.year%></p>
      <p> 
        <input type="text" name="<%=student._id%>" id="txt_input">
        <button id="btn_generate">Generate Barcode</button>
        <br><br>
        <svg id="barcode"></svg>
        <script type="text/javascript">
            document.getElementById("btn_generate").addEventListener('click', function () {
                var text = document.getElementById("txt_input").value;
                JsBarcode("#barcode", text);
            });
        </script>
        </p>
      </div>
    </div>
  </div>
</div>