<% layout('layouts/userBoilerplate') %>

<style>
  .student-profile .card {
    border-radius: 10px;
  }
  
  .student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
  }
  
  .student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .student-profile .card p {
    font-size: 16px;
    color: #000;
  }
  
  .student-profile .table th,
  .student-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
  }
  #profile {
      height: 44px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
  <br>
  <div id="profile" class="card-header align-text-center">
          <h2>STUDENT PROFILE</h2>
  </div>
  
  <div>
      <a href="/students/home" class="btn btn-outline-primary"><i class="bi bi-arrow-left-circle-fill"></i> Back</a>
  </div>
  
  <div class="student-profile py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center">
                <h3><%= student.username %></h3>
              </div>
              <div class="card-body">
                <p class="mb-0"><strong class="pr-1">Registration ID:</strong> <%= student.regNo %></p>
                <p class="mb-0"><strong class="pr-1">Year: </strong><%= student.year %></p>
                <p class="mb-0"><strong class="pr-1">Gender:</strong> <%= student.gender %></p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  <tr>
                    <th width="30%">Contact No:</th>
                    <td width="2%">:</td>
                    <td><%= student.contactNo %></td>
                  </tr>
                  <tr>
                    <th width="30%">Email</th>
                    <td width="2%">:</td>
                    <td><%= student.email %></td>
                  </tr>
                  <tr>
                    <th width="30%">Balance</th>
                    <td width="2%">:</td>
                    <td><%= student.depositAmount %></td>
                  </tr>
                  <tr>
                    <th width="30%">Current Month No. of Meals</th>
                    <td width="2%">:</td>
                    <td><%= student.meals %></td>
                  </tr>
                  <tr>
                    <th width="30%">Current Month Additional Charges</th>
                    <td width="2%">:</td>
                    <td><%= student.additionalCharges %></td>
                  </tr>
                </table>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    